# .gitignore

# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.bak
*.tmp

# Environment files
.env
.venv/
virtualenv/
venv/

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Databases
*.db
*.sqlite3
